@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.toast-success {
  border: 1px solid #108126;
  padding: 12px;
  margin-top: 50px;
  color: white;
  /* Set text color to white */
  background: linear-gradient(90deg, #23c43f 0%, #108126 100%);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}

.toast-error {
  border: 1px solid #be1e10;
  padding: 12px;
  margin-top: 50px;
  color: white;
  /* Set text color to white */
  background: linear-gradient(90deg, #f44d25 0%, #be1e10 100%);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}

.toast-blue {
  padding: 12px;
  margin-top: 50px;
  color: white;
  /* Set text color to white */
  background: linear-gradient(90deg, #74c1fe 0%, #075fa6 100%);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}

.toast-yellow {
  border: 1px solid #ea730d;
  padding: 12px;
  margin-top: 50px;
  color: white;
  /* Set text color to white */
  background: linear-gradient(90deg, #fbbd28 0%, #ea730d 100%);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}
