.buttonPlainContainer{
    padding: 10px;
    border: 0.7px solid black;
    width: 60%;
    max-width: 400px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin: 5px;
    flex-shrink: 0;
}

.buttonPlainContainer:hover{
    border: 1.4px solid black;
}